[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
asyncpg = "*"
bcrypt = "*"
passlib = "*"
uvicorn = "*"
python-multipart = "*"
python-jose = {extras = ["criptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
